/* Import fonts, partials */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('animations.css');

/* Reset padding/margin/box-sizing */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, input, ins, kbd, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* html and body */
html, body {
	width: 100%;
	height: 100%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
body {
	display: flex;
	flex-direction: column;
}
@media screen and (max-width: 640px) { body { font-size: 0.9em; }}


/* Text tags */
h1, h2, h3, h4, h5, h6 {
	color: #444444;
	margin-bottom: 0.5em;
	font-weight: 500;
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.2em;
}
p {
	color: #656565;
	margin-bottom: 1em;
	line-height: 140%;
	text-align: justify;
}
hr {
	height: 0.2em;
	width: 15%;
	margin: 3em 0 0 0;
	border: none;
	background-color: #c4c4c4;
}
img {
	vertical-align: middle;
}


/* Shared styles */
.maxwidth {
	max-width: 1280px;
	margin: auto;
	margin-top: 0
}
.article-main {
	margin: auto;*/
	width: 50%;
	padding: 2em;
}
@media screen and (max-width: 960px) { .article-main { max-width: 100%; }}
.article-section {
	padding-top: 3em;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.bg-primary {
	background-color: #3F51B5;
}
.btn-primary {
	display: inline-block;
	padding: 0.3rem 1rem;
	margin-right: 1rem;
	color: white;
	text-decoration: none;
	background-color: #2196F3;
	transition: background-color 150ms ease-in-out;
}
.btn-primary:hover {
	background-color: black;
}


/* Header and footer */
header {
	padding: 1rem 0;
	padding-bottom: 0;
	border-bottom: #F64338 solid 0.5em;
}
.header-logo {
	padding: 0 2rem;
	padding-bottom: 1rem;
}
.header-nav {
	float: right;
	margin-top: 0.5rem;
	margin-right: 1rem;
}
@media screen and (max-width: 960px) { .header-nav .nav-item { display: block; }}
.homepage-header {
	position: relative;
	overflow: hidden;
	padding: 0 2rem;
	padding-top: 3rem;
}
@media screen and (max-width: 640px) { .homepage-header { display: none; }}
.big-steven {
	width: 20rem;
}
.big-logo {
	position: absolute;
	width: 30rem;
	left: 50%;
	top: 50%;
	padding-right: 2rem;
	transform: translate(0,-50%)
}
@media screen and (max-width: 960px) { .big-logo, .big-steven { width: 50%; }}
@media screen and (max-width: 640px) { .big-logo { width: 50%; }}

footer {
	width: 100%;
	bottom: 0;
	font-size: 0.9em;
}
.footer-nav {
	padding: 1rem 2rem;
	display: flex;
	justify-content: flex-end;
}
@media screen and (max-width: 960px) { .footer-nav { flex-direction: column }}
@media screen and (max-width: 960px) { .footer-nav .nav-item { display: block; margin: 0.5em auto; }}


/* Navigation elements */
.nav-item {
	display: inline-block;
	position: relative;
	margin: 0 1rem;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}
.nav-item::after {
	content: "";
	display: inline-block;
	position: absolute;
	height: 0.2rem;
	width: 0%;
	top: 100%;
	left: 50%;
	opacity: 0;
	background-color: white;
	transition: all 200ms cubic-bezier(.15,.26,.04,1);
}
.nav-item:hover::after, .active::after {
	left: 0;
	width: 100%;
	opacity: 1;
}


/* Main content */
main {
	padding-top: 2rem;
	padding-bottom: 3rem;
}


/* Portfolio, grid system using the flexbox model */
.portfolio-grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.item-wrap {
	display: inline-block;
	width: 33%;
	padding: 2em;
}
@media screen and (max-width: 960px) { .item-wrap { width: 50%; }}
@media screen and (max-width: 640px) { .item-wrap { width: 100%; }}

.item-wrap:nth-child(3n+1) .item .item-title {
	background-color: #01BCD6;
}
.item-wrap:nth-child(3n+2) .item .item-title {
	background-color: #2196F3;
}
.item-wrap:nth-child(3n+3) .item .item-title {
	background-color: #3F51B5;
}
.item {
	display: inline-block;
	width: 100%;
	background: grey;
	box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 3px 5px rgba(0,0,0,0.2);
	transition: all 700ms cubic-bezier(0.2,1,0.5,1);
}
.item:hover {
	transform: translateY(-6px);
	box-shadow: 0 16px 30px rgba(0,0,0,0.13), 0 3px 7px rgba(0,0,0,0.25);
}
.item:hover .item-thumb img {
	transform: scale(1.07,1.07);
}
.item-thumb {
	height: 16em;
	background-color: #AAAAAA;
	overflow: hidden;
}
.item-thumb img {
	width: 100%;
	transition: transform 700ms cubic-bezier(0.2,1,0.5,1);
}
.item-title {
	font-size: 1.1em;
	padding: 0.8em;
	background-color: #01BCD6;
	color: white;
}


/* Hobbies */
.hobbies-grid {
	padding: 2em;
}
.hobby {
	display: flex;
	background-color: #F5F5F5;
	padding: 4em;
	margin-bottom: 2em;
	box-shadow: 0 10px 20px rgba(0,0,0,0.08), 0 3px 5px rgba(0,0,0,0.12);
	transition: all 700ms cubic-bezier(0.2,1,0.5,1);
}
@media screen and (max-width: 580px) { .hobby { flex-direction: column; padding: 3em; }}
.hobby-icon, .hobby-text {
	width: 50%;
}
@media screen and (max-width: 580px) { .hobby-icon, .hobby-text { width: 100%; }}
.hobby-icon img {
	width: 2em;
	margin-bottom: 1em;
}
