{% set page = "portfolio" %}

<!doctype html>
<html lang="nl">

    <head>
      {% include "head.nunjucks" %}
      <title>Steven's portfolio - Adriatic Veendam</title>
      <meta name="author" content="Mark Oosting">
      <meta name="description" content="Steven's personal website: portfolio - Adriatic Veendam">
      <meta name="keywords" content="HTML,CSS,Steven braham, Personal website, Porfolio, Adriatic Veendam">
    </head>

    <body>

        {% include "header.nunjucks" %}

        <main class="maxwidth">
          <article class="article-center fade-in">
            <h1>Adriatic Veendam</h1>
            <h2>Gebruikte tools</h2>
            <ul>
              <li>Macbook Pro 13 inch</li>
              <li>PHPStorm</li>
              <li>Grunt</li>
              <li>Sketch</li>
              <li>Google Chrome</li>
            </ul>
            <h2>Preview</h2>
            <img src="img/portfolio/adriaticveendam.jpg" alt="Screenshot van Adriatic Veendam">
            <a class="btn-primary" href="portfolio.html">Terug naar portfolio</a>
          </article>
        </main>

        {% include "footer.nunjucks" %}

    </body>

</html>
