{% set page = "hobbies" %}

<!doctype html>
<html lang="nl">

    <head>
      {% include "head.nunjucks" %}
      <title>Steven's hobby's</title>
      <meta name="author" content="Mark Oosting">
      <meta name="description" content="Alle hobby's van Steven.">
      <meta name="keywords" content="HTML,CSS,Steven braham, Personal website, Hobby's">
    </head>

    <body>

        {% include "header.nunjucks" %}

        <main class="maxwidth">
          <article class="article-main fade-in">
            <h1>Hobby's</h1>
            <p>
              Naast zijn drukke leven als programmeur en scholier heeft Steven natuurlijk ook hobby's die hij beoefent in zijn vrije tijd. Hieronder zie je een overzicht van zijn vrijetijdsbestedingen. 
            </p>
          </article>

          <div class="hobbies-grid">
            {% for hobby in hobbies %}
              <div class="hobby fade-in">
                <div class="hobby-icon">
                  <i class="center fa {{ hobby.icon }}" aria-hidden="true"></i>
                </div>
                <div class="hobby-text">
                  <h2>{{hobby.name}}</h2>
                  <p>{{hobby.text}}</p>
                </div>
              </div>
            {% endfor %}
          </div>

        </main>

        {% include "footer.nunjucks" %}

    </body>

</html>
