{% set page = "home" %}

<!doctype html>
<html lang="nl">

    <head>
      {% include "head.nunjucks" %}
      <title>Steven's personal website</title>
      <meta name="author" content="Mark Oosting">
      <meta name="description" content="Steven's personal website">
      <meta name="keywords" content="HTML,CSS,Steven braham, Personal website">
    </head>

    <body>

        {% include "header.nunjucks" %}

        <main class="maxwidth">
          <article class="article-main fade-in">
            <h1>Wie is Steven?</h1>
            <p>
              Steven Rishi Braham is een 19 jarige gentleman uit Groningen, opgegroeid in Hoogezand. Zijn vader komt uit Nederland, zijn moeder komt uit Suriname.
              Al sinds 2009 houdt hij zich bezig met programmeren en software ontwikkelen en sinds 2011 ook met web development.
            </p>
            <a href="portfolio.html" class="btn-primary">Mijn werk</a>
            <a href="workschool.html" class="btn-primary">Mijn leven</a>
          </article>
        </main>

        {% include "footer.nunjucks" %}

    </body>

</html>
