{% set page = "home" %}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Steven</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>

    <body>

        {% include "header.nunjucks" %}

        <main class="maxwidth">
          <div class="content-header-text fade-in">
            <h1>Wie is Steven?</h1>
            <p>
              Steven Rishi Braham is een 19 jarige gentleman uit Groningen, opgegroeid in Hoogezand. Zijn vader komt uit Nederland, zijn moeder komt uit Suriname.
              Al sinds 2009 houdt hij zich bezig met programmeren en software ontwikkelen en sinds 2011 ook met web development.
            </p>
            <a href="#" class="btn-primary">Mijn werk</a>
            <a href="#" class="btn-primary">Mijn leven</a>
          </div>
        </main>

        {% include "footer.nunjucks" %}

    </body>

</html>
