{% set page = "sitemap" %}

<!doctype html>
<html lang="nl">

    <head>
      {% include "head.nunjucks" %}
      <title>Sitemap</title>
      <meta name="author" content="Mark Oosting">
      <meta name="description" content="Sitemap van deze website.">
      <meta name="keywords" content="HTML,CSS,Steven braham, Personal website, sitemap">
    </head>

    <body>

        {% include "header.nunjucks" %}

        <main class="maxwidth">
          <article class="article-main fade-in">
            <h1>Sitemap</h1>
            <p>
              Hier vind je een overzicht van alle pagina's op Steven's personal website.
            </p>
            <ul class="fade-in">
              <li><a href="index.html">Homepagina</a></li>
              <li><a href="portfolio.html">Portfolio</a>
                <ul>
                  <li><a href="bungalowselect.html">Bungalowselect.nl</a></li>
                  <li><a href="allekentekens.html">Allekentekens.nl</a></li>
                  <li><a href="adriaticveendam.html">Adriatic Veendam</a></li>
                </ul>
              </li>
              <li><a href="hobbies.html">Hobby's</a></li>
              <li><a href="workschool.html">Werk/school</a></li>
              <li><a href="ontwerpproces.html">Ontwerpproces</a></li>
              <li><a href="verantwoording.html">Verantwoording</a></li>
              <li><a href="sitemap.html">Sitemap</a></li>
            </ul>
          </article>
        </main>

        {% include "footer.nunjucks" %}

    </body>

</html>
