{% set page = "sitemap" %}

<!doctype html>
<html lang="nl">

    <head>
      {% include "head.nunjucks" %}
      <title>Sitemap</title>
      <meta name="author" content="Mark Oosting">
      <meta name="description" content="Sitemap van deze website.">
      <meta name="keywords" content="HTML,CSS,Steven braham, Personal website, sitemap">
    </head>

    <body>

        {% include "header.nunjucks" %}

        <main class="maxwidth">
          <article class="article-main fade-in">
            <h1>Sitemap</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <section class="article-section fade-in">
              <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </section>
          </article>
        </main>

        {% include "footer.nunjucks" %}

    </body>

</html>
