{% set page = "verantwoording" %}

<!doctype html>
<html lang="nl">

    <head>
      {% include "head.nunjucks" %}
      <title>Verantwoording</title>
      <meta name="author" content="Mark Oosting">
      <meta name="description" content="Verantwoording van deze website.">
      <meta name="keywords" content="HTML,CSS,Steven braham, Personal website, verantwoording">
    </head>

    <body>

        {% include "header.nunjucks" %}

        <main class="maxwidth">
          <article class="article-main fade-in">
            <h1>Verantwoording</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <section class="article-section fade-in">
              <h2>Lorem ipsum</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem esse possimus omnis laborum debitis dolores tempora ipsa architecto, repudiandae eum, ut, dolorum voluptas voluptates in, reiciendis enim quos. Maxime, asperiores.
              </p>
              <hr>
            </section>

          </article>
        </main>

        {% include "footer.nunjucks" %}

    </body>

</html>
